body {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
}

p{
	margin-bottom: 1.6em;
}

img{
    max-width: 100%;
}

table{
	width: 600px;
	margin: auto;
	margin-bottom:20px;
	text-align:center;
	
}

table, th, td{
	border:1px solid black;
	text-align:center;
	
}

td, th {
  border: 1px #dddddd;
  text-align:center;
}

button {
	background-color:white;
	border-radius:10px;
	border:1px solid #d1d1e0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	color:black;
	padding:8px 15px;
	margin-bottom: 10px;
	text-decoration:none;
}
button:hover {
	background-color:#0000ff;
}
button:active {
	position:relative;
	top:1px;
}



.carrito{
	/*width: 23.50%;*/
	width: 100%;
	padding: 20px;
	background: white;

	text-align: center;
	margin: auto;
	
}


/*--------------------Cabecera----------------*/
header{
	background: #262626;
	color: white;
	padding: 0.2rem 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1;
}

	header a {
		color: white;
		text-decoration: none;
	}
	
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align:center;
	flex-wrap: wrap;

	
}

/*-------------- Navegacion----*/
.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.nav ul li {
		display: block;
	}
		.nav ul li a {
			display: block;
			/*padding: 0.2rem 1rem;*/
			padding: 14px 16px;
			transition: all 0.4s linear;
			border-radius: 5px;
		}
			.nav ul li a:hover {
				background: #4a4a4a;
			}
/* Style the input container */
.nav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 80px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.nav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav .login-container button:hover {
  background: #ccc;
}
main{
	padding-top: 10rem;
}


.container{
	width: 80%;
	margin: 0 auto;
	padding: 5px;
	position: static;
}

footer{
	background: black;
	text-align: center;
	color: #fff;
	padding: 1rem 0;
	margin-top: 3rem;
	font-size: 100%;
	
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

	footer ul li {
		display: inline-block;
	}
	
		footer ul li a {
			display: block;
			padding: 0.5rem 1rem;
			transition: all 0.4s linear;
			border-radius: 5px;
			color: #fff;
			text-decoration: none;
		}
			footer ul li a:hover {
				background: #e6f2ff;
				color: #000000;
			}
			
.productos{
	
	width: 100%;
	max-width: 1850px;
	margin: 0 auto;
	text-align: center;
	
}

.rows{	
	box-sizing: border-box;
	border-width: 0.1px;
	margin:5px;
	text-align: center;
}





